/UT1/PDs/PD1/Parte2/Ejercicio3/PD1-Ejercicio3/target/
/UT1/PDs/PD1/Parte2/Ejercicio4/PD1-Ejercicio4/target/
/UT1/PDs/PD1/Parte2/EjerciciosPD1/target/
/UT1/PDs/PD2/EjerciciosPD2/target/
/UT1/PDs/PD6/EjerciciosPD6/target/
/UT1/PDs/PD8/EjerciciosPD8/target/
/UT1/PDs/PD9/EjerciciosPD9/target/
/UT1/PDs/PD10/EjerciciosPD10/target/
/UT2/PDs/PD1/UT2_PD1/target/
/UT2/PDs/PD2/UT2_PD2/target/
/UT2/PDs/PD6/UT2_PD6/target/
/UT2/TAs/FibonacciBinario/target/
/UT2/PDs/PD5/UT2_PD5/target/
/UT2/PDs/PD4/UT2_PD4/target/
/Libros

/UT3/PDs/PD3/UT3_PD3/target/
/UT3/PDs/PD4/UT3_PD4/target/
/UT3/PDs/PD6/UT3_PD6/target/
/UT3/PDs/PD7/UT3_PD7/target/
/UT3/PDs/PD7/UT3_PD7/nbproject/
/UT3/PDs/PD9/UT3_PD9/target/
/UT3/PDs/PD9/UT3_PD9/nbproject/
/UT3/PDs/PD8/UT3_PD8/PD8/target/
/UT3/Ejercicios Adicionales/UT3_PD10/UT3_PD10/target/
/UT3/Ejercicios Adicionales/UT3_PD10/UT3_PD10/nbproject/
/UT4/TAs/UT4-TA2/UT4-TA2/nbproject/private/
/UT3/PDs/PD12/PD12/dist/
/UT3/PDs/PD12/UT3_PD12/target/
/UT3/PDs/PD12/UT3_PD12/nbproject/
/UT3/Ejercicios Adicionales/UT3_PD11/UT3_PD11/target/
/UT3/Ejercicios Adicionales/UT3_PD11/UT3_PD11/nbproject/
/UT3/Ejercicios Adicionales/UT3_PD13/UT3_PD13/target/
/UT3/Ejercicios Adicionales/UT3_TA10/PD8/UT3_PD8/UT3_TA10/target/
/UT3/Ejercicios Adicionales/UT3_TA10/UT3_PD8/UT3_TA10/target/
/UT3/Ejercicios Adicionales/UT3_TA10/UT3_TA10/UT3_TA10/target/
/UT3/Ejercicios Adicionales/Parciales/Parcial1_2016/target/
/UT3/Ejercicios Adicionales/Parciales/Parcial1_2016/nbproject/
/UT3/Ejercicios Adicionales/Parciales/Parcial1_2015/target/
/UT4/PDs/UT4_PD5/UT4_PD5/target/
/UT4/PDs/UT4_PD5/UT4_PD5/nbproject/
/UT4/PDs/UT4_TA9/TA9/nbproject/private/
/UT4/PDs/UT4_TA9/TA9/build/
/UT4/PDs/UT4_TA4/UT4_TA4/nbproject/
/UT4/Ejercicios Adicionales/Ejercicios adicionales arboles/Ejercicio 2/Examen Julio 2017/ExamenFebrero2017/build/
/UT5/PDs/UT5_PD1/UT5_PD1/nbproject/
/UT5/PDs/UT5_PD1/UT5_PD1/target/
/UT5/PDs/UT5_PD3/UT5_PD3/target/
/UT5/PDs/UT5_PD3/UT5_PD3/nbproject/
/UT5/PDs/UT5_PD7/codigo y datos pd7/nbproject/private/
/UT5/PDs/UT5_PD7/codigo y datos pd7/build/
/UT5/PDs/UT5_PD7/codigo y datos pd7/dist/
/UT5/PDs/UT5_PD7/UT5_PD7/target/
/UT5/PDs/UT5_PD7/UT5_PD7/nbproject/
/UT6/PDs/PD1/UT6_PD1/target/
/UT6/PDs/PD2/UT6_PD2/build/
/UT6/PDs/PD2/UT6_PD2/dist/
/UT6/PDs/PD3/UT6_PD3/target/
/UT6/PDs/PD4/UT6_PD4/target/
/UT6/PDs/PD5/UT6_PD5/target/
/UT7/PDs/PD2/TA3-CODIGO BASE/nbproject/private/
/UT7/PDs/PD2/UT7_PD2/build/
/UT7/PDs/PD3/UT7_PD3/target/
/UT7/PDs/TA3/TA3-CODIGO BASE/nbproject/private/
/UT7/PDs/TA3/TA3-CODIGO BASE/build/
/UT7/PDs/TA4/alumnos/nbproject/private/
/UT7/PDs/TA4/alumnos/build/
/UT7/PDs/TA5/alumnos/nbproject/private/
/UT7/PDs/TA5/alumnos/build/
/UT8/PDs/PD2/UT8_PD2/target/
/UT8/Ejercicios Adicionales/Parcial 2018/Parcial 2018/nbproject/private/
/UT8/Ejercicios Adicionales/Parcial 2018/Parcial 2018/build/
/UT8/Ejercicios Adicionales/Parcial 2018/Parcial 2018/dist/
/UT8/Ejercicios Adicionales/Parcial 2019/Parcial 2019/nbproject/private/
/UT8/Ejercicios Adicionales/Parcial 2020/Parcial 2020/alumnos/nbproject/private/
/UT8/Ejercicios Adicionales/Parcial 2020/Parcial 2020/alumnos/build/
